*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
.con{
    width: 100%;
    background: linear-gradient(135deg, #153677,#4e085f);
    height: 100vh;
    padding: 10px;
}
.app{
    background-color: white;
    width: 100%;
    max-width: 540px;
    margin: 0 auto;
    margin-top: 120px ;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
h2{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
img{
    width: 30px;
    margin-left: 10px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    margin-bottom: 25px;
    padding-left: 20px;
}
input{
    border: 0;
    outline: 0;
    background: transparent;
    width:430px ;
    padding: 10px;
}
button{
    border: none;
    outline: none;
    background-color: #ff5945;
    color: white;
    cursor: pointer;
    font-size: 16px;
    border-radius: 40px;
    padding: 16px 50px;
}
li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    background-image: url(images/unchecked.png) ;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    top: 10px;
    left: 8px;
}
.check{
    color: #555;
    text-decoration: line-through;
}
.check::before{
    background-image: url(images/checked.png);
}
span{
    position: absolute;
    right:  0px;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
span:hover{
    background-color: #edeef0;
}