 .box{
    border: 2px solid;
    border-radius: 10px;
    border-color:green;
    border-style: double;
    outline: 7px solid pink;
    font-size:30px;
    color: #CF304E;
 }
 .box{
    padding-left: 120px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 15px;
    border-left-style: dotted;
    border-right-style: dashed;
    border-left-color: red;
    border-right-color: red;
    text-decoration-line:underline;
    text-decoration-color: #30CFB1;
    text-shadow: 2px 3px 2px black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}