.box {
    margin: 70px;
    display: flex;
    padding: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: space-between;
    background-color: blue;
    color: white;
}
.miriui1 {
    display: flex;
    gap: 50px;
}
.flex-container1 {
    gap: 20px;
    font-size: 20px;
}
.miri1::before {
    content: "\229A";
    font-size: 23px;
    padding-right: 10px;/
}
.image {
    display: flex;
    gap: 30px;
}