.container {
    display: flex;
    background-color: whitesmoke;
    box-shadow: 0px 0px 10px 1px grey;
    padding: 10px;
    justify-content: space-between;
}
.lead1 {
    display: flex;
    gap: 20px;
}
.dot {
    color: red;
}
.combine {
    display: flex;
    gap: 10px;
    position: relative;
    top: 10px;
}
.line {
    height: 15px;
    width: 5px;
    gap: 5px;
    border-radius: 10px;
    background-color: red;
}
.line::before {
    content: " ";
    height: 15px;
    position: absolute;
    left: 8px;
    width: 5px;
    background-color: black;
    border-radius: 10px;
}
button {
    position: relative;
    top: 5px;
}