 body{
            background-color: rgba(1, 29, 183, 0.747);
            color: beige;
        }
div{
    /* background-color: rgba(4, 49, 251, 0.429); */
    /* color: azure; */
    display: flex;
}
.st{
    position: relative;
    
   
    font-size: small;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
top:50px;
left:500px;
}
.y{
    top:70px;
    left:400px;
    
    position: relative;
    
}
.con1{
    height:170px;
    width:200px;
    background-color: beige;

}
.con1::after{
    content: \"1F60A"
}